@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #6f87e7;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

.heading {
  /* display: inline-block; */
  font-size: 60px;
  color: white;
  margin: auto;
  text-align: center;
  /* margin-bottom: 100px; */
}

.heading span {
  font-style: italic;
  font-size: 3rem;
  /* font-weight: 20px; */
}
.line span {
  display: block;
  margin: auto;
  width: 230px;
  height: 3px;
  background: blueviolet;
  margin-bottom: 140px;
}

.profiles {
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  flex-wrap: wrap;
  margin: 20px 80px;
}
.profiles h5 {
  text-align: center;
}
.profile {
  flex-basis: 250px;
  /* align-items: center; */
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
  /* margin-left: 20px; */
  /* align-items: center; */
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  text-align: justify;
  letter-spacing: 3px;
  color: rgb(224, 173, 173);
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 35px;
    color: rgba(226, 29, 72, 0.61);
  }

  .profiles {
    margin: 20px 0px;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}
